.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 0 0 10vh;
  min-height: 10vh;
  background-color: #6ed8d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  border-bottom: white solid 1px;
}
.App-header button {
  margin-right: 3rem;
}
.App-body {
  padding: 1rem;
  flex: 1;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.App-footer {
  flex: 0 0 10vh;
  min-height: 10vh;
  background-color: #6ed8d3;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.App-sort{
  display: flex;
  justify-content: space-around;
}